.logo img {
  margin-left: 6vw;
  margin-top: 20px;
}
.logo {
  margin-top: 3px;
}
.header {
  margin-left: 535px;
  margin-top: -40px;
  font-weight: 500px;
  font-size: 16px;
}
.shop {
  margin-left: 676px;
  margin-top: -18px;
  font-weight: 500px;
  font-size: 16px;
}
.about {
  margin-left: 790px;
  margin-top: -18px;
  font-weight: 500px;
  font-size: 16px;
}
.contact {
  margin-left: 900px;
  margin-top: -18px;
  font-weight: 500px;
  font-size: 16px;
}
.shop a {
  text-decoration: none;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.about a {
  text-decoration: none;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.contact a {
  text-decoration: none;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.img ul {
  margin-left: 72vw;
  display: flex;
  gap: 57px;
  margin-top: -2.6vw;
  width: 28px;
  height: 21px;
}
.header ul a {
  text-decoration: none;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  margin: 0 79px;
  margin-left: -19px;
  margin-top: -50px;
}
.img {
  margin-left: -10px;
}
.blank {
  width: 1520px;
  height: 100px;
  background-color: #f9f1e7;
  margin-left: -8px;
  margin-top: -10px;
}
.imges img {
  margin-top: -70px;
  position: absolute;
  margin-left: 7vw;
}
.imges span {
  margin-left: 9.7vw;
  margin-top: -4.4vw;
  position: absolute;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.img2 {
  margin-left: 15vw;
  position: absolute;
  margin-top: -67px;
  display: flex;
  gap: 30px;
}
.text h2 {
  margin-left: 46vw;
  margin-top: -17vw;
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.home h1 {
  margin-left: 45.9vw;
  margin-top: -2vw;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.home img {
  margin-left: 49.9vw;
  margin-top: -1.8vw;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.home span {
  margin-left: 51.6vw;
  margin-top: -1.9vw;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-weight: 300px;
  color: #000;
}
.text20 {
  margin-left: 25vw;
  margin-top: 9vw;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.group {
  margin-left: 67vw;
  display: flex;
  gap: 130px;
  margin-top: -2vw;
}
.text3 span {
  margin-left: 61vw;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-top: -3vw;
  position: absolute;
}
.text4 span {
  margin-left: 72vw;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-top: -3vw;
  position: absolute;
}
.blank2 {
  width: 1000px;
  height: 50px;
  background-color: #f9f1e7;
  margin-top: 5vw;
  margin-left: 3vw;
}
.blank3 {
  width: 350px;
  height: 400px;
  background-color: #f9f1e7;
  margin-top: -3.3vw;
  margin-left: 70vw;
}
.itm {
  font-size: 22px;
  margin-top: -25vw;
  margin-left: 10vw;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.itm2 {
  font-size: 22px;
  margin-left: 25vw;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-top: -1.8vw;
}
.itm3 ul {
  display: grid;
  gap: 10px;
  margin-left: 40vw;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 22px;
  margin-top: -1.8vw;
}
.itm4 ul {
  display: grid;
  gap: 10px;
  margin-left: 49vw;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 22px;
  margin-top: -3vw;
}
.od {
  margin-left: 10vw;
  position: absolute;
  margin-top: 3.5vw;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #616161;
}
.group2 {
  margin-left: 3.4vw;
  margin-top: 3vw;
}
.price {
  margin-left: 25vw;
  position: absolute;
  margin-top: -3.4vw;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #616161;
}
.group3 {
  margin-left: 44vw;
  margin-top: -4vw;
}
.price1 {
  margin-left: 52vw;
  position: absolute;
  margin-top: -1.5vw;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #616161;
}
.cart {
  margin-left: 76vw;
  position: absolute;
  margin-top: -10vw;
  font-family: sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 25px;
}
.total {
  margin-left: 75vw;
  position: absolute;
  margin-top: -1vw;
  font-family: sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
}
.price4 {
  margin-left: 84vw;
  position: absolute;
  margin-top: -10px;
  font-family: sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: #616161;
}
.price4 span {
  font-size: 22px;
  margin-left: -2vw;
  margin-top: 10px;
  position: absolute;
  color: #b88e2f;
}
.group4 {
  margin-left: 64vw;
  margin-top: -2vw;
}
.gro9 {
  margin-top: 8vw;
  margin-left: -9vw;
}

.blank7 {
  width: 1602px;
  height: 200px;
  background-color: #faf3ea;
  margin-top: 5vw;
  margin-left: -90vw;
}
.img13 {
  margin-left: -80vw;
  margin-top: -8vw;
  display: flex;
  gap: 80px;
}

.heading {
  margin-top: 9vw;
  margin-left: -78vw;
  /* font-size: 30px; */
}
.heading span {
}
.span9 span {
  font-size: 20px;
  color: #9f9f9f;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  position: absolute;
  margin-top: 50px;
  margin-left: -78vw;
  margin-top: 25px;
}
.heading h2 {
  margin-top: -50px;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  color: #3a3a3a;
  font-size: 30px;
  position: absolute;
}
.h1 {
  margin-left: -78vw;
  margin-top: 90px;
  position: absolute;
}
.h1 h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  color: #9f9f9f;
  font-size: 17px;
  margin-top: 20px;
}
.seo {
  width: 1554px;
  height: 1px;
  background-color: #d9d9d9;
  margin-top: 4vw;
  margin-left: -87vw;
}
.pic3 {
  margin-left: -80vw;
  margin-top: 12vw;
}
.link {
  margin-left: -50vw;
  margin-top: -2.9vw;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #9f9f9f;
}
.help {
  margin-left: -40vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: -1.5vw;
  font-size: 16px;
  color: #9f9f9f;
}
.new {
  margin-left: -25vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin-top: -1.5vw;
  color: #9f9f9f;
}
.home ul li {
  margin-left: -51.7vw;
  margin-top: 3.5vw;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  text-decoration: none;
}
.game2 {
  margin-left: -40vw;
  font-size: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  margin-top: -16.5vw;
  font-style: normal;
}
.return {
  margin-left: -40vw;
  font-size: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  margin-top: 3.7vw;
  font-style: normal;
}
.privacy {
  margin-left: -40vw;
  font-size: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  margin-top: 3.7vw;
  font-style: normal;
}
.email {
  margin-left: -25vw;
  margin-top: -12.34vw;
  color: #9f9f9f;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}
.sep {
  height: 1px;
  width: 13.5vw;
  background-color: black;
  margin-top: 1px;
  margin-left: -25vw;
}
.sub {
  /* font-size: 20px; */
  margin-left: -9vw;
  margin-top: -2.2vw;
  color: #050505;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 8px;
}
.sep1 {
  height: 1px;
  width: 6vw;
  background-color: black;
  margin-top: -10px;
  margin-left: -9vw;
}
.sep3 {
  width: 1250px;
  height: 1px;
  background-color: #d9d9d9;
  margin-top: 15vw;
  margin-left: -80vw;
}
.last {
  margin-top: 2vw;
  margin-left: -80vw;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
}
