h1 {
  margin: 0;
}

.logo img {
  margin-left: 6vw;
  margin-top: 20px;
}
.logo {
  margin-top: 3px;
}
.header {
  margin-left: 535px;
  margin-top: -40px;
  font-weight: 500px;
  font-size: 16px;
}
.shop {
  margin-left: 676px;
  margin-top: -18px;
  font-weight: 500px;
  font-size: 16px;
}
.about {
  margin-left: 790px;
  margin-top: -18px;
  font-weight: 500px;
  font-size: 16px;
}
.contact {
  margin-left: 900px;
  margin-top: -18px;
  font-weight: 500px;
  font-size: 16px;
}
.shop a {
  text-decoration: none;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.about a {
  text-decoration: none;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.contact a {
  text-decoration: none;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.img ul {
  margin-left: 72vw;
  display: flex;
  gap: 57px;
  margin-top: -2.6vw;
  width: 28px;
  height: 21px;
}
.header ul a {
  text-decoration: none;
  color: #000;
  font-family: "Poppins", sans-serif;
   font-style: normal;
 font-weight: 500;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  margin: 0 79px;
  margin-left: -19px;
  margin-top: -50px;
}
.blank {
  width: 500px;
  height: 350px;
  background-color: #fff3e3;
  position: absolute;
  margin-top: -25vw;
  margin-left: 55vw;
}
.text {
  margin-left: 56vw;
  margin-top: -21vw;
  position: absolute;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.text h2 {
  color: #b88e2f;
  margin-top: -13px;
}
.text p {
  margin-top: -1vw;
  font-size: 18px;
  font-weight: 400px;
}
.text div {
  margin-top: -1vw;
  font-size: 18px;
}
.button button {
  background-color: #b88e2f;
  color: #ffffff;
  font: bold;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  width: 150px;
  font-size: 16px;
  height: 60px;
  margin-left: 56vw;
  margin-top: -8vw;
  position: absolute;
}
.text12 h2 {
  margin-left: 40vw;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  margin-top: 3vw;
}
.text12 p {
  margin-left: 33vw;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  margin-top: -2vw;
  color: darkgray;
}
.img3 {
  margin-left: 18vw;
  display: flex;
  gap: 30px;
}
.plan {
  gap: 17vw;
  margin-left: 28vw;
  display: flex;
  margin-top: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font: bold;
}
.dev {
  margin-left: -3vw;
}
.pro h2 {
  font-size: 30px;
  margin-left: 41vw;
  margin-top: 2vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font: bold;
}
.contanier {
  width: 900px;
  height: 700px;
  background-color: white;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin: 0 auto;
}
.pix {
  margin-left: 20vw;
}
.contanier > .itm {
  background-color: #f4f5f7;
  /* border: 1px solid black; */
  padding: 20px;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  width: 201px;
  height: 298px;
}
.button1 {
  margin-left: -3px;
  margin-top: 3vw;
}
.button1 button {
  width: 200px;
  background-color: white;
  color: #b88e2f;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  border-style: solid;
  border-color: #b88e2f;
  height: 50px;
  margin-left: 40.50vw;
}
.bln {
  width: 1510px;
  margin-left: -3px;
  height: 500px;
  background-color: #fcf8f3;
  margin-top: 3vw;
}
.fonts {
  margin-top: -24vw;
  margin-left: 8.50vw;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
}
.fonts div {
  font-size: 50px;
  color: #3a3a3a;
}
.fonts span {
  color: #616161;
  font-size: 20px;
  margin-top: 20px;
}
.imges {
  margin-left: 70vw;
  margin-top: -17.3vw;
  margin-top: -18vw;
}
.img9 {
  margin-top: -26.40vw;
  position: absolute;
  margin-left: 45vw;
}
.logo2 {
  margin-left: 91vw;
  margin-top: -11vw;
}
.indi {
  margin: 70vw;
  position: absolute;
  margin-top: 6.60vw;
}
.haf {
  margin-left: 95vw;
  margin-top: -20vw;
}
.button2 button {
  width: 170px;
  background-color: #b88e2f;
  color: white;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  border-style: solid;
  border-color: #b88e2f;
  height: 50px;
  margin-left: 8.5vw;
}
.button2 {
  margin-top: -110px;
}
.text30{
  margin-left: 19.70vw;
  justify-content: center;
  margin-top: -46.70vw;
  position: absolute;
}
.text30 h1{
  font-size: 22px;
   font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  padding: 5px;
}
.text30 span{
     font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  font-size: 15px;
  margin-left: 5px;
  color: #616161;
}
.text31{
   margin-left: 39.20vw;
  justify-content: center;
  margin-top: -46.70vw;
  position: absolute;
}
.text31 h1{
   font-size: 22px;
   font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  padding: 5px;
}
.text31 span{
    font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  font-size: 15px;
  margin-left: 5px;
  color: #616161;
}
.text32{
  margin-left: 58.70vw;
  justify-content: center;
  margin-top: -46.70vw;
  position: absolute;
}
.text32 h1{
   font-size: 22px;
   font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  padding: 5px;
}
.text32 span{
 font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  font-size: 15px;
  margin-left: 5px;
  color: #616161;
}
.text33{
   margin-left: 58.80vw;
  justify-content: center;
  margin-top: -23.34vw;
  position: absolute;
}
.text33 h1{
  font-size: 22px;
   font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  padding: 5px;
}
.text33 span{
   font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  font-size: 15px;
  margin-left: 5px;
  color: #616161;
}
.text35{
   margin-left: 39.20vw;
  justify-content: center;
  margin-top: -23.34vw;
  position: absolute;
}
.text35 h1{
  font-size: 22px;
   font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  padding: 5px;
}
.text35 span{
   font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  font-size: 15px;
  margin-left: 5px;
  color: #616161;
}
.text36{
 margin-left: 19.70vw;
  justify-content: center;
  margin-top: -23.34vw;
  position: absolute;
}
.text36 h1{
 font-size: 22px;
   font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  padding: 5px;
}
.text36 span{
    font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  font-size: 15px;
  margin-left: 5px;
  color: #616161;
}
.text37{
   font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  font-size: 15px;
  margin-left: 65.70vw;
  color: #616161;
  margin-top: -26.70vw;
  position: absolute;
  text-decoration:line-through;
}
.text38{
    font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  font-size: 15px;
  margin-left: 27vw;
  color: #616161;
  margin-top: -3.40vw;
  position: absolute;
  text-decoration:line-through;
}
.text34{
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  font-size: 15px;
  margin-left: 26vw;
  color: #616161;
  margin-top: -26.70vw;
  position: absolute;
  text-decoration:line-through;
}
.heading{
  margin-top: 6vw;
  margin-left:8vw;
  /* font-size: 30px; */
}
.heading span{
  
}
.span{
font-size: 20px;
   color: #9F9F9F;
    font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  position: absolute;
  margin-top: 50px;
  margin-left: 120px;
  margin-top: 25px;
}
.heading h2{
  margin-top: -50px;
   font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  color: #3A3A3A;
  font-size: 30px;
  position: absolute;
}
.h1{
  margin-left: 120px;
  margin-top:90px;
  position: absolute;
}
.h1 h1{
   font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  color: #9F9F9F;
  font-size: 17px;
  margin-top: 20px;
}
.seo{ 
  width: 1530px;
  height: 1px;
     background-color:#D9D9D9;
  margin-top: 1vw;
  margin-left: -20px;
} 
.pic3{
  margin-left: 10vw;
  margin-top: 12vw;
}
.link{
  margin-left: 35vw;
  margin-top: -2.90vw;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #9F9F9F;
}
.help{
  margin-left: 50vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: -2vw;
  font-size: 16px;
  color: #9F9F9F;
}
.new{
  margin-left: 63vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin-top: -1.50vw;
  color: #9F9F9F;
}
.home ul li{
  margin-left: 33.50vw;
  margin-top: 3.40vw;
  font-size: 16px;
   font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  text-decoration: none;
}
.game2{
  margin-left: 49vw;
  font-size: 8px;
    font-family: "Poppins", sans-serif;
  font-weight: 00;
  margin-top: -15.70vw;
  font-style: normal;
}
.return{
   margin-left: 49vw;
  font-size: 8px;
    font-family: "Poppins", sans-serif;
  font-weight: 00;
  margin-top:   3.0vw;
  font-style: normal;
}
.privacy{
  margin-left: 49vw;
  font-size: 8px;
    font-family: "Poppins", sans-serif;
  font-weight: 00;
  margin-top:   3.0vw;
  font-style: normal;
}
.email{
    margin-left: 63vw;
    margin-top: -10.34vw;
    color: #9F9F9F;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
.sep{
     height: 1px;
  width: 13.50vw;
   background-color:black;
  margin-top: 1px;
  margin-left: 63vw;
}
.sub{
  /* font-size: 20px; */
   margin-left: 79vw;
    margin-top: -1.54vw;
    color: #050505;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 7px;
}
.sep1{
      height: 2px;
  width: 6vw;
   background-color:black;
  margin-top: 3px;
  margin-left: 79vw;
}
.sep3{
  width: 1250px;
  height: 1px;
     background-color:#D9D9D9;
  margin-top: 15vw;
  margin-left: 7vw;
}
.last{
  margin-top: 2vw;
  margin-left: 6.90vw;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
}
@media only screen and (max-width: 600px) {
  .header ul{
    display: flex;
    background-color: blue;
    margin-left: 6vw;
    margin-top: 13vw;
  }
  .img ul{
    margin-left:250vw;
    margin-top: -17vw;
  }
  .blank{
    margin-left: 150vw;
    margin-top: -100vw;
    width: 600px;
  }
  .text{
    margin-left: 154vw;
    margin-top: -90vw;
}
.text h2{
  font-size: 35px;
  display:ruby-text;
  }
.text p{
  font-size: 30px;
}
.text div{
  font-size:20px;
  margin-top: -6vw;
}
.button{
  margin-left: 103vw;
  margin-top: -30vw;
}
.img1 img{
width: 1500px;
}
.text12 h2{
  margin-top: 49vw;
  margin-left: 120vw;
    display:ruby-text;
    font-size: 40px;
}
.text12 p{
     display:ruby-text;
     font-size: 30px;
     margin-left: 70vw;
}
.img3{
  margin-left: 60vw;
}
.plan{
  margin-left: 80vw;
  font-size: 30px;
  gap: 230px;
}
.pro h2{
  margin-left: 135vw;
    display:ruby-text;
    margin-top: 20vw;
    font-size:  40px;
}
.contanier{
  margin-left: 65vw;
}
.text30{
  margin-top: -166vw;
  margin-left: 67vw;
}
.text31{
    margin-top: -166vw;
  margin-left: 137vw;
}
.text32{
    margin-top: -166vw;
  margin-left: 207vw;
}
.text33{
  margin-top: -84vw;
  margin-left: 67.50vw;
}
.text35{
   margin-top: -84vw;
  margin-left: 207vw;
}
.text36{
   margin-top: -84vw;
  margin-left: 137vw;
}
.text34{
  margin-left: 240vw;
  margin-top: -17vw;
}
.text37{
  margin-left: 100vw;
  margin-top: -16vw;
}
.text38{
  margin-top: -100vw;
  margin-left: 99vw;
}
.button1{
  margin-left: 100vw;
}
.fonts{
  margin-top: -90vw;
}
.bln{
  margin-top: 30vw;
  height: 500px;
}
.imges{
  margin-left: 250vw;
  margin-top: -70vw;
}
.img9{
  margin-left: 160vw;
  margin-top: -100vw;
}
.indi{
  margin-left: 250vw;
  margin-top: -4vw;
}
.haf{
  margin-left: 339vw;
  margin-top: -49vw;
}
.logo2{
  margin-left: 325vw;
  margin-top: -60vw;
}
.pic3{
  margin-top: 60vw;
  margin-left: 30vw;
}
.heading{
  margin-top: 29vw;
}
.span{
  margin-left: 8vw;
}
.link{
  margin-left: 70vw;
  margin-top: -10vw;
}
.help{
  margin-left: 100vw;
  margin-top: -5vw;
}
.new{
  margin-left: 130vw;
  margin-top: -5vw;
}
.home ul{
margin-left: 30vw;
margin-top: ;
}
}