.logo img {
  margin-left: 6vw;
  margin-top: 20px;
}
.logo {
  margin-top: 3px;
}
.header {
  margin-left: 535px;
  margin-top: -40px;
  font-weight: 500px;
  font-size: 16px;
}
.shop {
  margin-left: 676px;
  margin-top: -18px;
  font-weight: 500px;
  font-size: 16px;
}
.about {
  margin-left: 790px;
  margin-top: -18px;
  font-weight: 500px;
  font-size: 16px;
}
.contact {
  margin-left: 900px;
  margin-top: -18px;
  font-weight: 500px;
  font-size: 16px;
}
.shop a {
  text-decoration: none;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.about a {
  text-decoration: none;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.contact a {
  text-decoration: none;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.img ul {
  margin-left: 72vw;
  display: flex;
  gap: 57px;
  margin-top: -2.6vw;
  width: 28px;
  height: 21px;
}
.header ul a {
  text-decoration: none;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  margin: 0 79px;
  margin-left: -19px;
  margin-top: -50px;
}
.img1 {
  margin-left: -9px;
}
.blank {
  width: 1520px;
  height: 100px;
  background-color: #f9f1e7;
  margin-left: -8px;
  margin-top: -10px;
}
.imges img {
  margin-top: -70px;
  position: absolute;
  margin-left: 7vw;
}
.imges span {
  margin-left: 9.7vw;
  margin-top: -4.4vw;
  position: absolute;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.img2 {
  margin-left: 15vw;
  position: absolute;
  margin-top: -67px;
  display: flex;
  gap: 30px;
}
.text h2 {
  margin-left: 46vw;
  margin-top: -17vw;
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.home h1 {
  margin-left: 45.9vw;
  margin-top: -2vw;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.home img {
  margin-left: 49.9vw;
  margin-top: -1.8vw;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.home span {
  margin-left: 51.6vw;
  margin-top: -1.8vw;
  position: absolute;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-weight: 300px;
}
.text20 {
  margin-left: 25vw;
  margin-top: 9vw;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.group {
  margin-left: 67vw;
  display: flex;
  gap: 130px;
  margin-top: -2vw;
}
.text3 span {
  margin-left: 61vw;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-top: -3vw;
  position: absolute;
}
.text4 span {
  margin-left: 72vw;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-top: -3vw;
  position: absolute;
}
.text5 {
  margin-left: 8.7vw;
  margin-top: 5vw;
  justify-content: center;
}
.text5 h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
}
.contanier {
  width: 800px;
  height: 700px;
  background-color: white;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin: 0 auto;
  margin-top: 5vw;
  margin-left: 29vw;
  gap: 20px;
  position: absolute;
}
.contanier > .itm {
  background-color: #f4f5f7;
  padding: 40px;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  width: 160px;
  height: 298px;
}
.text30 {
  margin-left: 29.7vw;
  justify-content: center;
  margin-top: 5.7vw;
  position: absolute;
}
.text30 h1 {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  padding: 5px;
}
.text30 span {
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  font-size: 15px;
  margin-left: 5px;
  color: #616161;
}

.text31 {
  margin-left: 47.5vw;
  justify-content: center;
  margin-top: 5.7vw;
  position: absolute;
}
.text31 h1 {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  padding: 5px;
}
.text31 span {
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  font-size: 15px;
  margin-left: 5px;
  color: #616161;
}
.text32 {
  margin-left: 65.2vw;
  justify-content: center;
  margin-top: 5.7vw;
  position: absolute;
}
.text32 h1 {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  padding: 5px;
}
.text32 span {
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  font-size: 15px;
  margin-left: 5px;
  color: #616161;
}
.text33 {
  margin-left: 65.2vw;
  justify-content: center;
  margin-top: 31.64vw;
  position: absolute;
}
.text33 h1 {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  padding: 5px;
}
.text33 span {
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  font-size: 15px;
  margin-left: 5px;
  color: #616161;
}
.text35 {
  margin-left: 47.5vw;
  justify-content: center;
  margin-top: 31.34vw;
  position: absolute;
}
.text35 h1 {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  padding: 5px;
}
.text35 span {
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  font-size: 15px;
  margin-left: 5px;
  color: #616161;
}
.text36 {
  margin-left: 29.7vw;
  justify-content: center;
  margin-top: 31.34vw;
  position: absolute;
}
.text36 h1 {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  padding: 5px;
}
.text36 span {
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  font-size: 15px;
  margin-left: 5px;
  color: #616161;
}
.text34 {
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  font-size: 15px;
  margin-left: 9vw;
  color: #616161;
  margin-top: 23vw;
  position: absolute;
  text-decoration: line-through;
}
.text37 {
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  font-size: 15px;
  margin-left: 38vw;
  color: #616161;
  margin-top: 28.7vw;
  position: absolute;
  text-decoration: line-through;
}
.blank1 {
  width: 243px;
  height: 370px;
  background-color: #f4f5f7;
  margin-top: 5.9vw;
  margin-left: 11vw;
}
.blank2 {
  width: 243px;
  height: 380px;
  background-color: #f4f5f7;
  margin-top: 1.7vw;
  margin-left: 11vw;
}
.text39 {
  margin-left: 11.1vw;
  justify-content: center;
  margin-top: 31.74vw;
  position: absolute;
}
.text39 h1 {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  padding: 5px;
}
.text39 span {
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  font-size: 15px;
  margin-left: 5px;
  color: #616161;
}
.text40 {
  margin-left: 11vw;
  margin-top: 6vw;
  position: absolute;
}
.text40 h1 {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  padding: 5px;
}
.text40 span {
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  font-size: 15px;
  margin-left: 5px;
  color: #616161;
}
.text43 {
  margin-left: 29.6vw;
  position: absolute;
  margin-top: 31.7vw;
}
.text43 h1 {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  padding: 5px;
}
.text43 span {
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  font-size: 15px;
  margin-left: 5px;
  color: #616161;
}
.img9 {
  margin-left: 36vw;
  margin-top: 2vw;
}
.blank3 {
  width: 1520px;
  height: 200px;
  background-color: #faf3ea;
  margin-top: 3vw;
  margin-left: -10px;
}
.img10 {
  margin-left: 5vw;
  margin-top: -8vw;
  display: flex;
  gap: 80px;
}

.link {
  margin-left: 35vw;
  margin-top: -2.9vw;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #9f9f9f;
}
.help {
  margin-left: 50vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: -2vw;
  font-size: 16px;
  color: #9f9f9f;
}
.new {
  margin-left: 63vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin-top: -1.5vw;
  color: #9f9f9f;
}
.home ul li {
  margin-left: 33.5vw;
  margin-top: 3.4vw;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  text-decoration: none;
}
.game2 {
  margin-left: 49vw;
  font-size: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  margin-top: -15.7vw;
  font-style: normal;
}
.return {
  margin-left: 49vw;
  font-size: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  margin-top: 3vw;
  font-style: normal;
}
.privacy {
  margin-left: 49vw;
  font-size: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  margin-top: 3vw;
  font-style: normal;
}
.email {
  margin-left: 63vw;
  margin-top: -10.34vw;
  color: #9f9f9f;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}
.sep {
  height: 1px;
  width: 13.5vw;
  background-color: black;
  margin-top: 1px;
  margin-left: 63vw;
}
.sub {
  /* font-size: 20px; */
  margin-left: 79vw;
  margin-top: -2.34vw;
  color: #050505;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 7px;
}
.sep1 {
  height: 1px;
  width: 5vw;
  background-color: black;
  margin-top: 6px;
  margin-left: 79vw;
}
.sep3 {
  width: 1250px;
  height: 1px;
  background-color: #d9d9d9;
  margin-top: 15vw;
  margin-left: 7vw;
}
.last {
  margin-top: 2vw;
  margin-left: 6.9vw;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
}
.heading {
  margin-top: 9vw;
  margin-left: 8vw;
  /* font-size: 30px; */
}
.heading span {
}
.span {
  font-size: 20px;
  color: #9f9f9f;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  position: absolute;
  margin-top: 50px;
  margin-left: 120px;
  margin-top: 25px;
}
.heading h2 {
  margin-top: -50px;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  color: #3a3a3a;
  font-size: 30px;
  position: absolute;
}
.h1 {
  margin-left: 120px;
  margin-top: 90px;
  position: absolute;
}
.h1 h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  color: #9f9f9f;
  font-size: 17px;
  margin-top: 20px;
}
.blank4 {
  width: 1520px;
  height: 60px;
  background-color: #faf3ea;
  margin-top: 3vw;
  margin-left: -10px;
}
.shop2 {
  margin-left: 5vw;
  margin-top: -2.5vw;
  font-size: 19px;
  color: #616161;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
}
.shop3 {
  margin-left: 11vw;
  margin-top: -1.4vw;
  font-size: 19px;
  color: #616161;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
}
.h2 {
  margin-top: -20px;
  position: absolute;
  margin-left: 9vw;
}
.h3 {
  margin-top: -20px;
  position: absolute;
  margin-left: 14.5vw;
}
.sep4 {
  width: 3px;
  height: 40px;
  background-color: #a4a0a0;
  margin-left: 17vw;
  margin-top: -2vw;
}
.shop4 {
  margin-left: 19vw;
  margin-top: -1.9vw;
  font-size: 19px;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
}
.img99 {
  margin-left: 3.6vw;
  margin-top: 4vw;
}
.img11 {
  margin-left: 8vw;
  margin-top: -24.6vw;
}
.text56 {
  margin-left: 47vw;
  margin-top: -34vw;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
}
.text56 h2 {
  font-size: 40px;
}
.text56 span {
  color: #616161;
  font-size: 28px;
  margin-top: -1.5vw;
  position: absolute;
}
.img100 {
  margin-left: 47vw;
  margin-top: 4vw;
}
.sepration {
  width: 3px;
  height: 40px;
  background-color: #616161;
  margin-left: 55.5vw;
  margin-top: -2.3vw;
}
.cou {
  margin-left: 57vw;
  margin-top: -2vw;
  font-size: 20px;
  color: #616161;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
}
.lorem {
  margin-left: 47vw;
  margin-top: 1vw;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
}
.size {
  margin-left: 47vw;
  margin-top: 1vw;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  display: flex;
  gap: 40px;
}
.pic0{
  margin-left: 47vw;
  margin-top: -5vw;
}
.pic1{
  margin-left: 47vw;
  margin-top: 4vw;
}
.pi3{
  margin-left: 47vw;
  margin-top: 2vw;
}
.sp{
  width: 500px;
  height: 1px;
  background-color:#616161;
  margin-left: 47vw;
  margin-top: 4vw;
}
.sku{
  margin-left: 47.50vw;
  color: #616161;
  margin-top: 2vw;
   font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
}
.p{
  margin-left: 54vw;
  margin-top: -8.60vw;
}
.sk{
   margin-left: 56.50vw;
  color: #616161;
  margin-top: -8.60vw;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
}  
 
.im{
  display: flex;
  gap: 20px;
  margin-left: 57vw;
  margin-top: 17px;
}
.ser{
  width: 1532px;
  height:1px;
  background-color: #616161;
  margin-left: -20px;
  margin-top:3vw;
}
.con{
  display: flex;
  margin-left:30vw;
   font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
}
.con h2{
  margin-top: 2.80vw;
}
.con span{
  margin-top: 3vw;
  margin-left: 3vw;
  color: #9f9f9f;
  font-size: 20px;
}
.rew{
    margin-left:60vw;
   font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  margin-top: -2.90vw;
  font-size: 20px;
  color: #9f9f9f;
}
.rew span{
  margin-top: 5vw;
}
.lorem2{
  margin-left: 14vw;
  margin-top: 2vw;
}
.i{
  margin-left: 7vw;
  margin-top: 3vw;
  display: flex;
  gap: 35px;
}
.sew{
  width: 1530px;
  height: 2px;
  background-color: #9f9f9f;
  margin-left: -20px;
  margin-top: 3vw;
}
.rel{
  margin-left: 39vw;
     font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
}
.contanier2 {
  width: 800px;
  /* height: 700px; */
  background-color: white;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin: 0 auto;
  margin-top: 3vw;
  margin-left: 20vw;
  gap: 50px;
  position: absolute;
}
.contanier2 > .itm {
  background-color: #f4f5f7;
  padding: 40px;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  width: 160px;
  height: 298px;
}
.text54{
    margin-left:20.80vw;
  margin-top: 3.70vw;
  position: absolute;
}
.text54 h1{
    font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  padding: 5px;
}
.text54 span{
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  font-size: 15px;
  margin-left: 5px;
  color: #616161; 
}

.text55{
    margin-left:39.40vw;
  margin-top: 3.70vw;
  position: absolute;
}
.text55 h1{
    font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  padding: 5px;
}
.text55 span{
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  font-size: 15px;
  margin-left: 5px;
  color: #616161; 
}
.text57{
    margin-left:58.40vw;
  margin-top: 3.70vw;
  position: absolute;
}
.text57 h1{
    font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  padding: 5px;
  margin-top: 1vw;
}
.text57 span{
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  font-size: 15px;
  margin-left: 5px;
  color: #616161;
  margin-top: 5px; 
}
.text56 h4{
  font-size: 23px;
  margin-top: 3.30vw;
  margin-left: 3px;
}
.bu{
  margin-left: 41vw;
  margin-top: 33vw;
}
.bu button{
    width: 200px;
  background-color: white;
  color: #b88e2f;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
  border-style: solid;
  border-color: #b88e2f;
  height: 50px;
}
.seprationn{
    width: 1530px;
  height: 2px;
  background-color: #9f9f9f;
  margin-left: -20px;
  margin-top: 4vw;
}
